.manage-order {
  &__header {
    background-color: #fff;
    padding: 24px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    .ant-form {
      width: 100%;

      .order-input {
        input {
          margin-left: 10px !important;
        }
      }
      div {
        margin-bottom: 0%;

        .ant-select {
          width: 100% !important;
        }
      }
    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .chile {
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
