.manage-order {
  &__header {
    background-color: #fff;
    padding: 24px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    .ant-form {
      width: 100%;

      .order-input {
        input {
          margin-left: 10px !important;
        }
      }
      div {
        margin-bottom: 0%;

        .ant-select {
          width: 100% !important;
        }
      }
    }
  }
}
