.AdminLayout {
  .right {
    width: calc(100vw - 256px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: rgb(246, 246, 246);

    .papper {
      margin: 15px;
      background-color: transparent;
    }
  }
}
