.notification-detail-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;

    .card-wrapper {
        width: 100% !important;
        margin-bottom: 15px;

        .row-item {
            font-size: 16px !important;
            color: #828282;

            span {
                color: #000;
                margin-left: 40px;
            }
        }

        .row-2-item {
            font-size: 16px !important;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.select-item {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    width: 100%;
}

.notifi-title {
    color: #616161;
    font-size: 24px;
    font-weight: 600;
}

.notifi-createAt {
    font-size: 16px;
    color: #828282;
}

.notifi-content {
    font-size: 16px;
}