.LeftNavBar {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  width: 256px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  .partnerHubIcon {
    height: 14px;
    width: 14px;
  }
}
.LeftNavBar::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
