.dao {
  width: 100%;
  &__main {
    width: 62.5%;
    margin: 16px auto;
    // background-color: #fff;
    .ant-tabs-nav {
      box-shadow: 0px 3px 6px #00000029;
      background: white !important;
      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          width: 100% !important;
        }
      }
      .ant-tabs-tab {
        padding: 26px 86px 12px 89px !important;
        width: 100%;
        margin: 0 auto;
      }
      .ant-tabs-ink-bar {
        background: #03ac84 !important;
        // width: 50% !important;
      }
      .ant-tabs-tab-active {
        border-bottom: #03ac84 solid 2px;
      }
      .ant-tabs-tab-btn {
        width: 100%;
        text-align: center;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 22px !important;
        color: #03ac84 !important;
      }
    }
    // .ant-tabs-content-holder {
    //   background: white !important;
    //   box-shadow: 0px 3px 6px #00000029;
    // }
  }
}
