.promo-create-container {
    background-color: white;
    padding: 20px 30px;
}

.w-100 {
    width: 95%;
}

.w-50 {
    width: 45%;
}

.custom-radio-group {
    width: 100%;
}

.custom-radio {
    background-color: #f4f4f4 !important;
    margin-bottom: 10px !important;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.join-object {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.partner-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.cus-title {
    font-size: 16px;
    margin-bottom: 5px;
}